.w100 {width: 100%;}
.h100 {height: 100%;}
.z10{z-index: 10;}
.z20{z-index: 20;}
.z30{z-index: 30;}

.font-ss{font-family: sans-serif;}

.relative {position: relative;}
.absolute {position: absolute;}
.oh {overflow: hidden;}
.hide {display: none;}

#svgpaper {background: #fff;}
#svgpaper text{cursor: pointer;}

body {background: #fff;}
#entry {border: none; outline: none; width: auto; text-align: center; background: transparent; font-size: 16px; color: #333; background: #fff;}
.out {left: 9999px; top: 9999px;}